<% include ../partials/header  %>
<% include partials/header %>
<div class="sixteen wide column">
    <h2 class="ui header">Searches</h2>
    <div class="ui divider"></div>
    <% if (currentUser.searches.length === 0) { %>
    <h2 class="ui header center aligned">Empty results</h2>
    <% } else { %>
    <div class="ui divided items">
        <% currentUser.searches.forEach(function(s){ %>
        <div class="item">
            <div class="ui tiny image">
                <img src="/images/image.png">
            </div>
            <div class="content">
                <div class="header"><%= s.query %></div>
                <span class="meta">
                        <span class="date"><%= new Date(s.createdAt).toDateString() %></span>
                    </span>
                <div class="description">
                    <% s.results.forEach(function(res) { %>
                        <p><%= res %></p>
                    <% }); %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% } %>
</div>
<% include partials/footer %>
<% include ../partials/footer  %>