<% include ../partials/header  %>
<div class="extra-nav-adjust">
	<div class="ui grid">
		<div class="four wide column">
	    	<div class="ui vertical fluid tabular menu">
		        <a href = "/account" class="item">
		          Profile
		        </a>
		        <a href = "/account/reviews" class="active item">
		          Reviews
		        </a>
		        <a href = "/account/history" class="item">
		          Search History
		        </a>
		        <a href = "/account/settings" class="item">
		          Account Settings
		        </a>
	    	</div>
	    </div>
	    <div class="twelve wide stretched column">
	        <div class="ui segment">
				<div class="sixteen wide column">
					<h2 class="ui header">Reviews</h2>
					<div class="ui items">
						<div class="ui divider"></div>
					    <div class="item">
					        <div class="ui tiny image">
					        	<img src="/images/image.png">
					        </div>
					        <div class="content">
					        	<div class="header">LA Fitness</div>
					        	<div class="meta">
						            <span class="date">1 Month ago</span>
					          	</div>
						        <div class="description">
						            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quasi! Quis quibusdam molestias officiis eaque aliquid, vitae quam corrupti, quidem ipsa vel optio accusantium dolorum ullam, nulla, voluptatibus atque aperiam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad ducimus saepe? Dicta quas fuga dolor, accusamus, voluptatum ratione in dolore quaerat deserunt adipisci architecto molestias unde iusto vitae repellat!</p>
						        </div>
					        </div>
					    </div>
					    <div class="ui divider"></div>
					    <div class="item">
					        <div class="ui tiny image">
					        	<img src="/images/image.png">
					        </div>
					        <div class="content">
					        	<div class="header">LA Fitness</div>
					        	<div class="meta">
						            <span class="date">1 Month ago</span>
					          	</div>
						        <div class="description">
						            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quasi! Quis quibusdam molestias officiis eaque aliquid, vitae quam corrupti, quidem ipsa vel optio accusantium dolorum ullam, nulla, voluptatibus atque aperiam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad ducimus saepe? Dicta quas fuga dolor, accusamus, voluptatum ratione in dolore quaerat deserunt adipisci architecto molestias unde iusto vitae repellat!</p>
						        </div>
					        </div>
					    </div>
					    <div class="ui divider"></div>
					    <div class="item">
					        <div class="ui tiny image">
					        	<img src="/images/image.png">
					        </div>
					        <div class="content">
					        	<div class="header">LA Fitness</div>
					        	<div class="meta">
						            <span class="date">1 Month ago</span>
					          	</div>
						        <div class="description">
						            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quasi! Quis quibusdam molestias officiis eaque aliquid, vitae quam corrupti, quidem ipsa vel optio accusantium dolorum ullam, nulla, voluptatibus atque aperiam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad ducimus saepe? Dicta quas fuga dolor, accusamus, voluptatum ratione in dolore quaerat deserunt adipisci architecto molestias unde iusto vitae repellat!</p>
						        </div>
					        </div>
					    </div>
					</div>
				</div>
	      	</div>
	    </div>
	</div>
</div>
<% include ../partials/footer  %>