<% include ../partials/header  %>
<% include partials/header %>
    <div class="ui container">
        <h2 class="ui header">Settings</h2>
    </div>

<% include partials/footer %>
<% include ../partials/footer  %>