<% include ../partials/header  %>
<% include partials/header %>
<div class="sixteen wide column">
    <h2 class="ui header">Settings</h2>
    <div class="ui divider"></div>
    <div class="ui divided items">

    </div>
</div>

<% include partials/footer %>
<% include ../partials/footer  %>