<!DOCTYPE html>
<html>
  <head>
    <title>Fit in Travel</title>
	<meta charset="utf-8">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" type = "text/css">
  	<link rel='stylesheet' href='/stylesheets/style.css' type = "text/css">
  </head>
  <body>
  	<div class="ui top menu fixed">
	  <a class="item index" href = "/">
	  	Fit in Travel
	  </a>
	  <a class="item feed" href = "/news" >
<!-- 	    <i class="newspaper icon"></i>
 -->	    The Latest
	  </a>
	  <a class="item location" href = "/location">
<!-- 	    <i class="location arrow icon"></i>
 -->	    Near me
	  </a>
	  <div class="ui item search">
	  	<div class="ui transparent icon input">
	  		<input type="text" class="prompt" placeholder = "Search..."><!--  for location, type of fitness, or name of place... -->
	  		<i class = "search link icon"></i>
	  	</div>
	  	<div class="results"></div>
	  </div>
	  <div class="ui right menu">
		  <% if(currentUser) { %>
			  <a href = "/account" class="item">
				  <%= currentUser.name %>
			  </a>
		  <% } else { %>
			  <a href = "/auth/login" class="item">
				Login with Google
			  </a>
		  <% } %>
	  </div>
	</div>
	<div class="nav-adjust">