<% include partials/header %>
  	<div class="banner">
  		<div class="provider-hint wrap">
			<% if (currentUser) { %>
				<a href="#" class="ui label provider-hint">
			<% } else { %>
				<a href="#" class="ui label provider-hint">
			<% } %>
				<i class = "google icon"></i> Google
			</a>
  		</div>
<!--   		<div class="provider-hint wrap">
  			<a class="pwred-google">
				<img src="/images/powered_by_google_on_non_white_hdpi.png" alt="">
			</a>
  		</div> -->
  		<div class="content">
			<h1>Fit in Travel</h1>
	    	<h3>Find fitness in any area</h3>
	    	<div class="ui category search">
			  	<div class="ui icon input">
			    	<input class="prompt" typke="text" placeholder="Search...">
			    	<i class="search icon"></i>
			  	</div>
			  	<div class="results"></div>
			</div>	
  		</div>
		<div class="ui container two column centered grid front-search">
			<div class="column">
				<div id="map">
				    <iframe
				      width="450"
				      height="450"
				      frameborder="0" style="border:0"
				      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyA9jr8SZ6wWV461F94ayBntzyrfRu5-cXw&q=fitness+near+me"
				      allowfullscreen>
				    </iframe>		
				</div>
			</div>
			<div class="column">
				<div class="ui segment">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim non rerum voluptates voluptatem aspernatur cumque quaerat sed impedit dolore natus quis officia harum, eum repellendus neque fuga reprehenderit magni, id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illum libero officiis, ratione culpa, doloribus in omnis perspiciatis. Perspiciatis aliquam et ea deleniti, accusamus quas esse alias nemo ad. Adipisci. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit beatae quis placeat est nisi autem a labore temporibus quae dolorum reiciendis facilis porro, id illum hic eum, libero vitae ut?
				</div>
			</div>
		</div>
  	</div>
  	<div class="ui container home-body">
  		<div class="ui four column stackable centered grid">
  			<h1 class="ui header sixteen wide column">
  				Suitable locations for fitness
  				<button class="ui black pull-right basic button">Go <i class="chevron circle right icon"></i></button>
  			</h1>
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">

  			<h1 class="ui header sixteen wide column">
  				Find a gym
  				<button class="ui black pull-right basic button">Go <i class="chevron circle right icon"></i></button>
  			</h1>
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">

  			<h1 class="ui header sixteen wide column">
  				Go on a run
  				<button class="ui black pull-right basic button">Go <i class="chevron circle right icon"></i></button>
  			</h1>
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">

  			<h1 class="ui header sixteen wide column">
  				Discover
  				<button class="ui black pull-right basic button">Go <i class="chevron circle right icon"></i></button>
  			</h1>
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">
			<img src="/images/image.png" alt="empty" class="four wide column">
  		</div>
  	</div>

<% include partials/footer %>