<% include partials/header  %>
<div id="new" class="ui modal">
    <div class="content">
        <div class="ui container">
            <form action="/places" method="POST" class="ui container">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="field">
                    <label>Type</label>
                    <input type="text" name="type" placeholder="Type (e.g. surfing, running/hiking trail, etc...)">
                </div>
                <div class="field">
                    <label>Description</label>
                    <input type="text" name="description" placeholder="Description">
                </div>
                <div class="field">
                    <label>Address</label>
                    <input type="text" name="address" placeholder="Address">
                </div>
                <button class="ui button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<div id="review" class="ui long modal">
    <div class="content">
        <div class="ui container">
            <div id="place-of-review"></div>
            <div class="ui active segment accordion">
                <h3 class = "ui active title header">
                    <i class="dropdown icon"></i>
                    Submit a review
                </h3>
                <div class="active content">
                    <div class="ui divider"></div>
                    <form id="review-form" method = "POST" class="ui form">
                        <div class="field">
                            <label for="rating">Rate it</label>
                            <div class="ui star huge rating" data-rating="review.rating" name="rating" data-max-rating="5" required></div>
                        </div>
                        <div class="field">
                            <textarea style = "resize:none;" name="content" placeholder = "Write a review"></textarea>
                            <p></p>
                            <button onclick="submitReview()" type="button" class = "ui primary button">Post</button>
                        </div>
                    </form>
                </div>
            </div>
            <h2 class="ui header">Reviews</h2>
            <div class="ui divider"></div>
            <form action="/" class="ui form">

            </form>
            <div class="ui divided items">
                <span id="review-list-byfit"></span>
                <span id="review-list"></span>
            </div>
        </div>
    </div>
</div>
<div class="extra-nav-adjust">
    <div class="ui container">
        <div class="ui segment" id="page-setter">

            <span id="detail-display">
            </span>
            <div class="ui right close rail">
                <div class="ui segment">
                    <p>
                        map
                    </p>
                </div>
            </div>
            <div class="ui map-display">
                <div class="ui inverted dimmer">
                    <div class="ui text loader">Loading</div>
                </div>
                <iframe class="map-frame" src="/map" frameborder="0"></iframe>
            </div>

        </div>
    </div>
</div>
<script src="/javascripts/location.js"></script>
<script>

</script>
<% include partials/footer %>