<% include partials/header  %>
<div class="extra-nav-adjust">
  <div class="ui container">
<!--     <iframe
      width="100%"
      height="750px"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyA9jr8SZ6wWV461F94ayBntzyrfRu5-cXw&q=fitness+near+me"
      allowfullscreen>
    </iframe>
 -->

     <div class="ui segment">
      <div class="ui two column centered stackable grid">
        <div class="three wide column">        
          <iframe
            width="100%"
            height="100%"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyA9jr8SZ6wWV461F94ayBntzyrfRu5-cXw&q=fitness+near+me"
            allowfullscreen>
          </iframe>
        </div>
        <div class="thirteen wide column" style = "width : 100%; height : 100%;">
          <h2 class="ui header">Top Review</h2>
          <div class="ui items">
            <div class="item">
              <div class="ui tiny image">
                <img src="/images/image.png">
              </div>
              <div class="content">
                <div class="header">Sammy Franklin</div>
                <div class="meta">
                  Reviewed <a class="location" style = "font-weight:bolder; color : #1678C2" href = "#">LA Fitness</a>
                  <span class="date">1 Month ago</span>
                </div>
                <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quasi! Quis quibusdam molestias officiis eaque aliquid, vitae quam corrupti, quidem ipsa vel optio accusantium dolorum ullam, nulla, voluptatibus atque aperiam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad ducimus saepe? Dicta quas fuga dolor, accusamus, voluptatum ratione in dolore quaerat deserunt adipisci architecto molestias unde iusto vitae repellat!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="ui header">Reviews</h2>
    <div class="ui items">
      <div class="ui divider"></div>
      <div class="item">
        <div class="ui tiny image">
          <img src="/images/image.png">
        </div>
        <div class="content">
          <div class="header">Sammy Franklin</div>
          <div class="meta">
            Reviewed <a class="location" style = "font-weight:bolder; color : #1678C2" href = "#">LA Fitness</a>
            <span class="date">1 Month ago</span>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quasi! Quis quibusdam molestias officiis eaque aliquid, vitae quam corrupti, quidem ipsa vel optio accusantium dolorum ullam, nulla, voluptatibus atque aperiam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad ducimus saepe? Dicta quas fuga dolor, accusamus, voluptatum ratione in dolore quaerat deserunt adipisci architecto molestias unde iusto vitae repellat!</p>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="item">
        <div class="ui tiny image">
          <img src="/images/image.png">
        </div>
        <div class="content">
          <div class="header">Sammy Franklin</div>
          <div class="meta">
            Reviewed <a class="location" style = "font-weight:bolder; color : #1678C2" href = "#">LA Fitness</a>
            <span class="date">1 Month ago</span>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quasi! Quis quibusdam molestias officiis eaque aliquid, vitae quam corrupti, quidem ipsa vel optio accusantium dolorum ullam, nulla, voluptatibus atque aperiam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad ducimus saepe? Dicta quas fuga dolor, accusamus, voluptatum ratione in dolore quaerat deserunt adipisci architecto molestias unde iusto vitae repellat!</p>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="item">
        <div class="ui tiny image">
          <img src="/images/image.png">
        </div>
        <div class="content">
          <div class="header">Sammy Franklin</div>
          <div class="meta">
            Reviewed <a class="location" style = "font-weight:bolder; color : #1678C2" href = "#">LA Fitness</a>
            <span class="date">1 Month ago</span>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quasi! Quis quibusdam molestias officiis eaque aliquid, vitae quam corrupti, quidem ipsa vel optio accusantium dolorum ullam, nulla, voluptatibus atque aperiam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad ducimus saepe? Dicta quas fuga dolor, accusamus, voluptatum ratione in dolore quaerat deserunt adipisci architecto molestias unde iusto vitae repellat!</p>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="item">
        <div class="ui tiny image">
          <img src="/images/image.png">
        </div>
        <div class="content">
          <div class="header">Sammy Franklin</div>
          <div class="meta">
            Reviewed <a class="location" style = "font-weight:bolder; color : #1678C2" href = "#">LA Fitness</a>
            <span class="date">1 Month ago</span>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quasi! Quis quibusdam molestias officiis eaque aliquid, vitae quam corrupti, quidem ipsa vel optio accusantium dolorum ullam, nulla, voluptatibus atque aperiam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad ducimus saepe? Dicta quas fuga dolor, accusamus, voluptatum ratione in dolore quaerat deserunt adipisci architecto molestias unde iusto vitae repellat!</p>
          </div>
        </div>
      </div>
  </div>
</div>

<% include partials/footer %>