<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" type = "text/css">
    <meta charset="utf-8">

</head>
<body>
<iframe src="http://localhost:3000/map" frameborder="0"></iframe>
</body>