<div style="" class="account nav-adjust">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a href = "/users" class="active item">
                    Profile
                </a>
                <a href = "/users/reviews" class="item">
                    Reviews
                </a>
                <a href = "/users/history" class="item">
                    Search History
                </a>
                <a href = "/users/settings" class="item">
                    Account Settings
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">