<div class="extra-nav-adjust">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a href = "/account" class="active item">
                    Profile
                </a>
                <a href = "/account/reviews" class="item">
                    Reviews
                </a>
                <a href = "/account/history" class="item">
                    Search History
                </a>
                <a href = "/account/settings" class="item">
                    Account Settings
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">